# Linux
/bin
pathfinding_visualiser
build/

# Windows
*.dll
*.exe
*.filters
*.user
*.vs
.vscode
Debug/
Release/

# Misc
*.zip
*.temp
*.srctrlprj
*.srctrldb
*.srctrlbm

# specific
grid.txt
imgui.ini